<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>POTATOES!!!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>POTATOES!!!</h1>

  <h3>Potato List:</h3>
  <form>
    <input type="text" name ="username">
    <button id = "submitOrder" type='submit' value="Submit">Submit</button>
    <ul class='list'></ul>
    <li id='template'><span class='style'>Baked</span> (quantity: <span class='quantity'>1</span>)</li>
  </form>
</body>
</html>
